<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/{{cssFileName}}.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/root.css">
    <link rel="icon" type="image/png" href="/img/favicon.png"/>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
</head>