<header class="about-partial">
    {{#if isMain}}
        <a href="/extension/about">About Talk Time</a>
    {{else}}
        <a href="/feedbacks/{{url}}">Main</a>
        <a href="/extension/about">About Talk Time</a>
    {{/if}}
</header>