<header class="about-partial">
    {{#if isMain}}
        <a class="navs" href="/extension/about">About Talk Time</a>
        <a href="/badges" class="navs">Badges</a>
    {{else}}
        {{#if isBadges}}
            <a class="navs" href="/extension/about">About Talk Time</a>
        {{else}}
            <a class="navs" href="/extension/about">About Talk Time</a>
            <a class="navs" href="/feedbacks/{{url}}">Main</a>
            <a href="/badges" class="navs">Badges</a>
        {{/if}}
    {{/if}}
</header>