<header class="header-partial">
    <button class="go-back">➔</button>
    <div class="navs-wrapper">
        <a class="navs" href="/extension/about">About Talk Time</a>
        <a href="/badges" class="navs">Badges</a>
    </div>
</header>