<html>
{{>head}}
<div class="container">
    {{>header}}
    {{{body}}}
</div>
<div class="question-modal">
    <div class="header">
        <button class="close-modal">⨉</button>
    </div>
    <div class="question-text">
        <h1>Important!</h1>
        <span>To allow this app receive users from the meeting and then display them in app
            you must open "People" tab in the Google Meet and have installed
            "Talk Time"
        </span>
    </div>
</div>

</html>