<style>
    h1 {
        margin-bottom: 10px;
    }

    .activity {
        width: 1200px;
        overflow-y: scroll;
        height: 300px;
        padding: 10px 20px 0 10px;
    }

    .user-activity {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: auto;
        padding: 10px;
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.04);
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .vad-container {
        width: 100vw;
        height: calc(100vh - 50px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .tag {
        background: tomato;
        width: 1px;
    }
</style>
<div class="vad-container">
    <h1>Users voice activity</h1>
    <div class="activity">
        {{#each users}}
        <div class="user-activity">
            <h3>{{name}}`s voice activity</h3>
            <div style="display: flex; align-items: flex-end;">
                {{#if peaks}}
                    {{#each peaks}}
                        <div class="tag" style="height: {{mult this 2}}px;"></div>
                    {{/each}}
                {{else}}
                    <span>No data</span>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>