<div class="vad-container">
    <h1>Users voice activity</h1>
    <div class="activity">
        {{#each users}}
        <div class="user-activity">
            <h3>{{name}}`s voice activity</h3>
            <div style="display: flex; align-items: flex-end;">
                {{#if peaks}}
                    {{#each peaks}}
                        <div class="tag" style="height: {{mult this 2}}px;"></div>
                    {{/each}}
                {{else}}
                    <span>No data</span>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>