<div class="badge-container">
    <h1 class="badges-title">What is Badges?</h1>
    <span class="badges-text">Every badge is mean some soft-skill and
        if person do this skill very good, you can give him a badge with this skill.
        It will , like award and this will be show how people are good at their skills.
    </span>
    <div class="badges-row">
        <div class="some-badge">
            <img src="{{link}}/brainstormer.png" alt="">
        </div>
        <div class="some-badge">
            <img src="{{link}}/active_listener.png" alt="">
        </div>
        <div class="some-badge">
            <img src="{{link}}/notes_master.png" alt="">
        </div>
    </div>
    <span style="margin-bottom: 10px;">You can give a badge to some person in "Leave feedback" page</span>
    <span class="badges-attention">Please, don't abuse badges and don't just give them out</span>
</div>
{{!-- https://rr5---sn-c0q7lnse.c.drive.google.com/videoplayback?expire=1663590702&ei=7igoY9HyAoa8u7APvtqeyAo&ip=213.109.232.1&cp=QVRLVUZfT1dOQ1hPOmU5MHhyTVMxYnp0VVc4NWZQWHRBcEFYRk1zeGFMeUp0ejBGVUsxeGJNang&id=3475fbaaa74a8ce0&itag=18&source=webdrive&requiressl=yes&mh=iR&mm=32&mn=sn-c0q7lnse&ms=su&mv=m&mvi=5&pl=24&sc=yes&ttl=transient&susc=dr&driveid=1xpjGIMDiNCTCa1hDYALUgCOXnzsx89QU&app=explorer&mime=video/mp4&vprv=1&prv=1&dur=8298.602&lmt=1662839109721989&mt=1663575881&subapp=DRIVE_WEB_FILE_VIEWER&txp=0011224&sparams=expire,ei,ip,cp,id,itag,source,requiressl,ttl,susc,driveid,app,mime,vprv,prv,dur,lmt&sig=AOq0QJ8wRgIhAP4rfyyxOJ3RpUHaWnNpwQ_bmepMH8itU0Qo_Boc7_N_AiEAvgfv5GkKqp2EsETlk7izJMuCpYry-LN-eT3e0brAJmQ=&lsparams=mh,mm,mn,ms,mv,mvi,pl,sc&lsig=AG3C_xAwRgIhAO2cnR0Y6ZyyN86h6YuRgMp7hKvuHEqK7ehgo3a5xTaCAiEA3hZ73s8vt6tc8i9OLaT_GnsU8M14BoKgXEPI21lPrRQ=&cpn=KQEA7V5RHi_aOxwd&c=WEB_EMBEDDED_PLAYER&cver=1.20220914.01.01 --}}