<div class="list-container">
    <input class="search" type="text" placeholder="🔎︎ Seach participants">
    <h1 class="main-title">Leave feedback about meeting participants!</h1>
    {{#each users}}
    <div class="user-item">
        <div class="user-info">
            <img class="user-avatar" src="{{avatar}}" alt="">
            <span class="username-span">{{name}}</span>
        </div>
        <div class="user-buttons">
            {{#if badges}}
            <button class="see-badges">See badges</button>
            {{else}}
            <div style="width: 150px; display: flex; justify-content: center; align-items: center; margin-right: 10px;">
                <span>No badges yet</span>
            </div>
            {{/if}}
            <button class="see-feedback">See feedbacks</button>
            <button class="leave-feedback">Leave feedback</button>
        </div>
    </div>
    {{/each}}
    <div style="display: flex;">
        <button class="refresh">Refresh</button>
    </div>
</div>

<script src="{{link}}/feedback.js"></script>