<div class="main-container">
   <div class="select-wrapper">
      <div class="text">
         <h1>Discover, analyse and leave feedbacks!</h1>
         <h2>Make your meetings more convinient!</h2>
      </div>
      <div class="top-select">
         <div class="input-wrapper">
            <input type="text" placeholder="🔎︎ Seach meetings">
            <div class="close-meetings-select">▲</div>
         </div>
         <div class="select">
            <span>Choose the meeting name</span>
            <span>▼</span>
         </div>
         <div class="select-question">?</div>
      </div>
      <div class="items-wrapper">
         {{#each generals}}
            <div class="item">{{name}}</div>
         {{/each}}
      </div>
      <div>
         <img class="img-question" src="{{link}}/select-question (1).png" alt="">
         <span class="close-image-span">Click on image to close</span>
      </div>
   </div>
   <img class="banner-img" src="{{link}}/New_10img.png" alt="">
</div>
<script src="{{link}}/main.js"></script>