<header>
    <div>
        <img style="width: 96px;" src="logo.png" alt="">
        <h1>Talk Time</h1>
    </div>
    <div class="right">
        <a href="/extension/about">What is talk time?</a>
        <button><a href="#">View in chrome web-store</a></button>
    </div>
</header>
<div class="content">
    <h1>Don`t close this window, untill meeting is over!</h1>
    <hr />
    <span>This window is working with your microphone input and helps
        talk-time determine the quality of your speech
    </span>
    <span>You can go back to the meeting window, this window will work
    </span>
    {{!-- <span class="allow_text" style="margin-bottom: 10px;">Please allow this site to use your microphone, by clicking the
        button below</span>
    <button id="button-start">ALLOW</button> --}}
</div>
<footer>
    <span style="text-align: center;">© 2022, Nobel | All right reserved</span>
</footer>
<script src="main.js"></script>