<div class="notfound__wrapper">
    <img class="notfound__img" src="/img/404.png" alt="">
    <h1 class="notfound__title">Ooops...</h1>
    <h2 class="notfound__text">Page not found - 404</h2>
    <span class="notfound__message">{{message}}</span>
</div>