<div class="quiz-wrapper">
    <h1 class="quiz-title">{{name}} Quiz</h1>
    <select name="username" class="username-select">
        <option value="Choose your name" hidden>Choose your name</option>
        {{#each users}}
            <option value="{{name}}">{{name}}</option>
        {{/each}}
    </select>
    <div class="question">
        <h2>Question</h2>
        <div class="answers" data-ischecked="false">
            <button data-selected="false" class="answer">test</button>
            <button data-selected="false" class="answer">test adsf a</button>
            <button data-selected="false" class="answer">test asdfasdf asdf </button>
            <button data-selected="false" class="answer">test asdasd</button>
        </div>
    </div>
    <div class="question">
        <h2>Question</h2>
        <div class="answers" data-ischecked="false">
            <button data-selected="false" class="answer">test</button>
            <button data-selected="false" class="answer">test adsf a</button>
            <button data-selected="false" class="answer">test asdfasdf asdf </button>
            <button data-selected="false" class="answer">test asdasd</button>
        </div>
    </div>
    <div class="question">
        <h2>Question</h2>
        <div class="answers" data-ischecked="false">
            <button data-selected="false" class="answer">test</button>
            <button data-selected="false" class="answer">test adsf a</button>
            <button data-selected="false" class="answer">test asdfasdf asdf </button>
            <button data-selected="false" class="answer">test asdasd</button>
        </div>
    </div>
    <div class="quiz-buttons">
        <button class="end-quiz">End</button>
        <button class="retake">Retake</button>
    </div>
</div>
<script src="{{link}}/quizes.js"></script>