<div class="quizes-container">
        <div class="quiz-item">
            <div>
                <img src="https://cdn-icons-png.flaticon.com/512/1329/1329016.png" alt="">
                <h2 class="quiz-title">Web-development</h2>
            </div>
            <a class="quiz-link" href=""><button>Go to Quiz page</button></a>
        </div> 
        <div class="quiz-item">
            <div>
                <img src="https://cdn-icons-png.flaticon.com/512/1087/1087840.png" alt="">
                <h2 class="quiz-title">Project Management</h2>
            </div>
            <a class="quiz-link" href=""><button>Go to Quiz page</button></a>
        </div> 
        <div class="quiz-item">
            <div>
                <img src="https://cdn-icons-png.flaticon.com/512/2115/2115955.png" alt="">
                <h2 class="quiz-title">Back-end</h2>
            </div>
            <a class="quiz-link" href=""><button>Go to Quiz page</button></a>
        </div> 
        <div class="quiz-item">
            <div>
                <img src="https://cdn-icons-png.flaticon.com/512/1055/1055666.png" alt="">
                <h2 class="quiz-title">Front-end</h2>
            </div>
            <a class="quiz-link" href=""><button>Go to Quiz page</button></a>
        </div> 
</div>
<script src="{{link}}/quizesList.js"></script>