<div class="vad-wrapper">
    <h1>Don`t close this page untill meeting ends<br/>This page`s helping capture your voice</h1>
    <span class="capture-voice-span"></span>
    <span style="font-size: 14px; margin-bottom: 5px;">After clicking this button, you will be redirect to the feedback page,<br/> and from feedback page you will be able to go to the analyser page</span>
    <span class="meeting-ends-span">Please, click this button when meeting ends</span>
    <a href="/dashboard/{{url}}"><button class="button-meeting-ends">Yes, my meeting has ended</button></a>
</div>
<span class="username" style="display: none;">{{name}}</span>
<span class="url" style="display: none;">{{url}}</span>
<script src="{{link}}/vad.js"></script>