<div class="vad__container">
    <h1 class="vad__title">Don`t close this page untill meeting ends<br/>This page`s helping capture your voice</h1>
    <span class="vad__instructions vad__instructions__first">After clicking this button, you will redirected to the dashboard page,<br/> and from feedback page you will be able to go to the analyser page</span>
    <span class="vad__instructions">Please, click this button when meeting ends</span>
    <a href="/dashboard/{{url}}"><button class="ending__meet__button">Yes, my meeting has ended</button></a>
</div>
<span class="username" style="display: none;">{{name}}</span>
<span class="url" style="display: none;">{{url}}</span>
<script src="/js/vad.js"></script>