
video:not(.instruction-video) {
    margin-right: 10px;
    height: 320px;
    width: 650px;
}

.instruction-video {
    width: 650px;
    height: 370px;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    height: 100vh;
}

.analyser {
    height: calc(100vh - 47px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.analyser-title {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 5px;
}

.wrapper {
    width: 1010px;
    height: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.chat {
    width: 350px;
    height: 100%;
    overflow-y: scroll;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.chat-item {
    width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px -8px #000000;
    overflow-x: hidden;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.chat-item span {
    margin-bottom: 0px;
}

.down {
    width: 40px;
    height: 40px;
    background: lightblue;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-bottom: 3px;
    color: white;
    position: sticky;
    top: 350px;
    left: 282px;
    cursor: pointer;
    border: none;
    display: none;
    z-index: 9999999999;
}

.open-bookmark-popup,
.show-bookmarks {
    height: 35px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.open-bookmark-popup,
.show-bookmarks {
    background: rgb(8, 149, 210);
    width: 150px;
}

.bookmark-buttons {
    width: 1010px;
    height: 35px;
    display: flex;
    margin-bottom: 10px;
}

.show-bookmarks,
.reset,
.no-bookmarks-yet {
    margin-left: 10px;
}

.bookmark-popup,
.all-bookmarks,
.instruction-popup {
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
    flex-direction: column;
    align-items: center;
    display: none;
    z-index: 11111111111111;
}

.bookmark-popup,
.all-bookmarks {
    width: 400px;
    height: 400px;
}

.no-bookmarks-yet {
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruction-popup {
    width: 650px;
    height: auto;
}

.all-bookmarks {
    overflow-y: scroll;
}

.bookmark-popup h1 {
    margin-bottom: 10px;
}

.bookmark-popup form {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookmark-popup form input {
    margin-bottom: 15px;
    width: 100%;
    height: 40;
    border: 1px solid gray;
    outline: none;
    padding: 10px;
}

label {
    font-size: 12px;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 3px;
}

.bookmark-popup form button {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    background: rgb(8, 149, 210);
    color: white;
    cursor: pointer;
}

.bookmark-header {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 24px;
    padding-top: 3px;
    padding-right: 8px;
    cursor: pointer;
    margin-bottom: 15px;
}

.bookmark {
    width: 95%;
    height: auto;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
}

@keyframes shakeError {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(0.375rem);
    }

    30% {
        transform: translateX(-0.375rem);
    }

    45% {
        transform: translateX(0.375rem);
    }

    60% {
        transform: translateX(-0.375rem);
    }

    75% {
        transform: translateX(0.375rem);
    }

    90% {
        transform: translateX(-0.375rem);
    }

    100% {
        transform: translateX(0);
    }
}

.time-shaking {
    animation-name: shakeError;
    animation-fill-mode: forwards;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
}

input.time-shaking {
    border: 1px solid tomato !important;
}

label.time-shaking {
    color: tomato;
}

.close-instruction {
    margin-bottom: 10px;
    transition: .4s all ease;
}

.close-instruction:hover {
    background: tomato;
    color: white;
}

.loader-wrapper {
    width: 1010px;
    height: 128px;
    z-index: 1111111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 2px solid rgb(8, 149, 210);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-bottom: 10px;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 4px;
    top: 4px;
    border: 2px solid rgb(8, 149, 210);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.load-chat {
    width: 120px;
    height: 35px;
    outline: none;
    border: none;
    background: rgb(8, 149, 210);
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}
.video-buttons {
    width: 1010px;
    height: 35px;
    display: flex;
    margin-bottom: 10px;
}
.video-buttons button {
    width: 150px;
    height: 35px;
    background: rgb(8, 149, 210);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.video-buttons button:nth-child(2) {
    background: tomato;
}
.video-buttons > button:disabled {
    background: lightgray;
    cursor: auto;
}
.video-buttons button:nth-child(1) {
    margin-right: 10px;
}
#waveform {
    width: 640px;
    height: auto;
    margin-bottom: 10px;
    align-self: flex-start;
}
.positions {
    width: 640px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.waveform-wrapper, .span-wrapper, .position-wrapper {
    width: 1010px;
    display: flex;
    justify-content: flex-start;
}
.waveform-wrapper, .position-wrapper {
    padding-left: 5px;
}
.position-wrapper span {
    font-size: 8px;
}