body {
    overflow-y: hidden;
}

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 300px);
    height: 100vh;
}
.summary {
    width: 50%;
    height: 100vh;
    padding: 15px;
}
.column {
    width: 50%;
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;

}
.summary h1, .column h1 {
    margin-bottom: 10px;
}
.meeting-conclusions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 33px;
}
.conclusion-input {
    width: calc(100% - 160px);
    height: 40px;
    padding-left: 20px;
    border: none;
    background: rgb(236, 235, 235);
    outline: none;
    border-radius: 100px 0 0 100px;
}
.add-conclusion {
    width: 160px;
    outline: none;
    border: none;
    background: rgb(8, 149, 210);
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 100px 100px 0;
}
.conclusions {
    width: 100%;
    height: calc(100vh - 90px);
    overflow-y: scroll;
    padding-left: 20px;
}
.conclusion  {
    width: 70%;
    height: auto;
    font-size: 14px;
    margin-bottom: 20px;
}
.meeting-participants {
    height: 20vh;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
}
.user-percents {
    display: none;
}
.participant {
    width: 100%;
    height: 40px;
    display: flex;
    background: #34495E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 5px;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.participant > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.participant > div > span {
    font-size: 14px;
}
.participant img {
    width: 32px;
    border-radius: 100px;
    margin-right: 10px;
}
.chart {
    width: 100%;
    margin-bottom: 20px;
    height: 60vh;
}
.overall {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.overall div {
    height: 50px;
    background: white;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 35px -22px rgba(0,0,0,0.75);
}
.overall div:not(:last-child) {
    font-size: 18px;
}
.overall div span:nth-child(2) {
    font-weight: bold;
}

body.dark .dashboard-container, body.dark .overall > div {
    background: #212121;
}
body.dark .participant {
    background: #3d3d3d;
}
body.dark span, body.dark li, body.dark h1 {
    color: white;
}
body.dark .add-conclusion {
    background: tomato;
}