@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.list-container {
    width: 800px;
    height: calc(100vh - 150px);
    overflow-y: scroll;
    padding: 0px 20px 15px 20px;
}

.user-item {
    width: 100%;
    height: 100px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.04);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}
.user-item:not(:last-child) {
    margin-bottom: 20px;
}
.user-buttons {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.user-buttons > button {
    border: none;
    outline: none;
    border: 1px solid rgb(8, 123, 172);
    width: 150px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    color: rgb(8, 123, 172);
    transition: .3s all ease;
    margin-right: 10px;
}
.user-buttons > button:hover {
    background: rgb(8, 123, 172);
    color: white;
}

/*FORM*/
.form-wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback-form {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.feedback-form input {
    height: 40px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 4px;
}
.feedback-form input:not([type="file"]) {
    padding: 10px;
}
.feedback-form textarea {
    height: 150px;
    resize: none;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}
.characters-count {
    margin-bottom: 20px;
    font-size: 12px;
}
.feedback-form select {
    padding: 5px;
    cursor: pointer;
}
.feedback-form select:not(.sender-input) {
    margin-bottom: 20px;
}
.sender-input {
    width: 100%;
    margin-bottom: 5px;
}
.selected {
    margin-bottom: 10px;
    font-size: 14px;
}
.success-wrapper {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.submit {
    border: none;
    outline: none;
    border: 1px solid rgb(8, 123, 172);
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    color: rgb(43, 149, 194);
    transition: .6s all ease;
}
.submit:hover {
    background: rgb(43, 149, 194);
    color: white;
}
.feedback-form label {
    margin-bottom: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  cursor: pointer;
}
button > a {
    width: 100%;
    height: 100%;
}
.feedback {
    width: 750px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.04);
    margin-bottom: 15px;
}
.title-of-one {
    text-align: center;
    margin-bottom: 20px;
}
.text {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.feedback-text {
    width: 100%;
}
.feedback-title {
    margin-bottom: 15px;
}
.feedbacks {
    width: 800px;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0px 20px 15px 20px;
}
.sender {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sender img {
    margin-right: 10px;
}
.sender h2 {
    font-size: 18px;
}
.user-info {
    height: 100%;
    display: flex;
    align-items: center;
}
.user-avatar {
    width: 32px;
    border-radius: 100px;
    margin-right: 15px;
}
.notfound {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notfound-title {
    font-size: 72px;
}
.notfound-text {
    margin-bottom: 10px;
}
.refresh {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: white;
    border: 1px solid tomato;
    cursor: pointer;
    margin-top: 10px;
    color: tomato;
    transition: .3s all ease;
}
.refresh:hover {
    background: tomato;
    color: white;
}
.rating {
    font-weight: bold;
    color: rgb(7, 203, 252);
}
.date {
    font-size: 14px;
    margin-bottom: 5px;
}
.question-footer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}
.question {
    height: 30px;
    width: 30px;
    outline: none;
    border: 1px solid tomato;
    border-radius: 100px;
    cursor: pointer;
    background: white;
    color: tomato;
    transition: .5s all ease;
    font-weight: bold;
    font-size: 18px;
}
.question:hover {
    background: tomato;
    color: white;
}
.question-modal {
    width: 400px;
    height: 250px;
    background: white;
    border-radius: 10px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.11);
    flex-direction: column;
}
.header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}
.header button, .close {
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    background: white;
    color: tomato;
    border: 1px solid tomato;
    border-radius: 0 10px 0 0;
    cursor: pointer;
    transition: .4s all ease;
}
.header button:hover, .close:hover {
    background: tomato;
    color: white;
}
.question-text {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.question-text h1 {
    margin-bottom: 5px;
}
.file {
    border: none;
    padding: 0;
    cursor: pointer;
}
.file::file-selector-button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    margin-right: 10px;
    background-color: white;
}
.feedback-img {
    width: 32px;
}
.send-feedback-wrapper {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-image {
    height: 35px;
    width: 120px;
    outline: none;
    border: 1px solid rgb(7, 203, 252);
    background: white;
    color: rgb(7, 203, 252);
    cursor: pointer;
    transition: .4s all ease;
}
.view-image:hover {
    background: rgb(7, 203, 252);
    color: white;
}
.feedback-img-wrapper {
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.04);
    display: none;
    border-radius: 10px;
}
.close-img {
    width: 100%;
    height: 30px;
    background: tomato;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.feedback-img {
    width: 256px;
}

/*BADGES*/
.badges-title {
    font-size: 36px;
    margin-bottom: 5px;
}
.badges-text {
    width: 800px;
    text-align: center;
    margin-bottom: 20px;
}
.badges-row {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.some-badge {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.08);
    border-radius: 100px;
}
.some-badge img{
    width: 128px;
}
.badges-attention {
    font-size: 18px;
    background: -webkit-linear-gradient(left, #D97777, #A1D0D6, #E38964);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.08);
    padding: 10px;
}
.badge-wrapper {
    height: auto;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.08);
    border-radius: 12px;
    background: white;
}
.badge-container {
    height: calc(100vh - 50px);
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.badge {
    width: 90px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5px 10px 5px;
    text-align: center;
}
.badge-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.badge-header div {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background: white;
    color: tomato;
    border: 1px solid tomato;
    border-radius: 0 10px 0 0;
    cursor: pointer;
    transition: .4s all ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-top: 2px;
}
.badge-header div:hover {
    background: tomato;
    color: white;
}
.all-badges {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.badge-owner {
    margin-left: 10px;
}
.search {
    width: 760px;
    height: 40px;
    margin-bottom: 20px;
    padding: 3px 10px 0 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}
.search::placeholder {
    font-size: 14px;
}