.feedbacks-page {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15px;
}
.feedbacks-section {
    width: 750px;

}
.rating {
    font-weight: bold;
    color: rgb(7, 203, 252);
}
.date {
    font-size: 14px;
    margin-bottom: 5px;
}
.feedback {
    width: 750px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.04);
    margin-bottom: 10px;
}
.sender {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sender h2 {
    font-size: 18px;
}
.user-avatar {
    width: 32px;
    border-radius: 100px;
    margin-right: 15px;
}
.text {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.feedback-text {
    width: 100%;
}
.view-image {
    height: 35px;
    width: 120px;
    outline: none;
    border: 1px solid rgb(7, 203, 252);
    background: white;
    color: rgb(7, 203, 252);
    cursor: pointer;
    transition: .4s all ease;
}
.view-image:hover {
    background: rgb(7, 203, 252);
    color: white;
}
.feedback-img-wrapper {
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.04);
    display: none;
    border-radius: 10px;
}
.feedback-img {
    width: 32px;
}
.feedback-img {
    width: 256px;
}
.close-img {
    width: 100%;
    height: 30px;
    background: tomato;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.leave-comment {
    width: 150px;
    height: 35px;
    background: tomato;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.leave-comment-wrapper {
    width: 750px;
    height: auto;
    flex-direction: column;
    display: none;
    margin-bottom: 10px;
}
.leave-comment-wrapper select {
    margin-bottom: 10px;
    height: 40px;
    cursor: pointer;
    padding: 7px;
}
.leave-comment-wrapper textarea {
    height: 200px;
    resize: none;
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
}
.comment-buttons button {
    width: 130px;
    height: 35px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}
.cancel-comment {
    background: tomato;
}
.send-comment {
    background:rgb(20, 149, 205);
}
.each-comment {
    height: auto;
    padding: 10px;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.04);
    border-radius: 5px;
}
.comment-date {
    background: rgb(233, 233, 233);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: rgb(175, 175, 175);
}