@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.question-modal {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
}
.content {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
    width: 100%;
    height: 100px;
    background: #2fab92;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 15px;
}
.right {
    width: 380px;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
.right > a {
    color: white;
}
header div {
    display: flex;
    align-items: center;
}
header button a {
    color: #2fab92;
    transition: all .2s ease;
}
header button {
    width: 200px;
    height: 45px;
    background: white;
    border: none;
    outline: none;
}
h1:not(header h1), hr {
    margin-bottom: 10px;
}
hr {
    border: none;
    width: 300px;
    height: 1px;
    background: #2fab92;
}
.allow_text {
    color: #2fab92;
}
button {
    width: 180px;
    height: 50px;
    outline: none;
    background: transparent;
    border: 1px solid #2fab92;
    cursor: pointer;
    color: #2fab92;
    transition: all .7s ease;
}
.content button:hover {
    color: white;
    background:#2fab92;
}
button:disabled {
    border:1px solid gray;
    opacity: .5;
    color: gray;
}
button:disabled:hover {
    background: white;
    color: gray;
    cursor: auto;
}
span {
    text-align: center;
}
footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
@media screen and (max-width: 450px) {
    h1:not(header h1), span {
        text-align: center;
        padding: 0 30px 0 30px;
    }
    span {
        margin-bottom: 10px;
    }
}